body{
    background-color: white;
}

.landing{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    max-width: 1950px;
}


.attribution{
box-sizing: border-box;
}


.by-line{
    font-size: 14px;
    font-family: "Mulish";
    text-align: left;
    max-width: 1000px;
    padding: 0px;
    line-height: 0;
}

.pubdate{
    font-size: 11px;
    color: #606060;
    font-family: "Mulish";
    margin-top: -7px;
}


.container {
    display: flex;
    max-width: 1080px;
    margin: auto;
    padding: 0px;
}

.text {
    flex: 1;
    padding: 20px;
}

.image {
    flex: 1;
    padding: 20px;
    text-align: auto;
    margin:auto;
    max-width: 1000px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

p,h1,h2{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}


h1{
    font-size: 150px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding: 20px;

}

img{
    width:100%;
    display: block; 
    max-width: 1000px;
    margin: auto;
    padding: 0px;
}

p{
	font-size: 16px;
	
    font-family: "Mulish";
    text-align: left;
    max-width: 1000px;
 
    padding: 20px;
}

h1{ 
    font-family: "Bebas Neue";
    }

h2{
    font-weight: 700;
    font-family: "Mulish";
    margin-bottom: 0px;
}


.divider {
max-width: 1000px;
margin: auto;
color: inherit;
background: linear-gradient(to right, #add8e6, #00008B 100%);
background-position: 0 100%;
background-size: 100% 4px;
background-repeat: repeat-x;
height: 4px;
border: 0;
}


/* unvisited link */
a:link {
    color:#00008B;
  }
  
  /* visited link */
  a:visited {
    color: #00008B;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: #00008B;
  }
    


  .flex-row{
    display: flex;
    flex-wrap: wrap;
  }      
        
  .bordered{
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #add8e6, #00008B 100%);
    border-image-slice: 1;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
  }


  .flex-column{
    flex: 25% 1;
    max-width: 25%;
  }


  .graphic-footer{
    font-size: 12px;
    font-weight: 400;
    margin-top: 1em;
  }


  .centered{
    text-align: center;
  }

  .figcaption{
    display:block;
    unicode-bidi: isolate;

  }
